<div class="header-image show-on-phones">
  <img class="image-frame" src="images/ashley-wedding.jpg" alt="Headshot" />
</div>

<div class="container centered main-row">
  <div class="row">
    <div class="three columns hide-on-phones">
      <%= link_to image_tag("thechangelog.png"), "http://thechangelog.com", :class => "thechangelog", :target => "_blank" %>
      <div class="twitter-timeline group">
        <ul class="tweet-list hidden">
        </ul>
      </div>
      <div class="instagram group">
      </div>
    </div>
    <div class="nine columns">

      <div class="header-image hide-on-phones">
        <a href="images/ashley-wedding.jpg" class="view" rel="slideshow">
          <img class="image-frame" src="images/ashley-wedding.jpg" alt="Headshot" />
        </a>
      </div>

      <ul id="images">
        <li><a href="images/headshot.png" class="view" rel="slideshow"></a></li>
        <li><a href="images/headshot-full-width.png" class="view" rel="slideshow"></a></li>
        <li><a href="images/us-italy.jpg" class="view" rel="slideshow"></a></li>
        <li><a href="images/hillcats.jpg" class="view" rel="slideshow"></a></li>
      </ul>

      <div id="about" class="container">
        <h1 class="section-header">My name is Andrew Thorp. I made your browser say that.</h1>
        <p>I am a Christ-follower, a husband to <a href="images/mindy-wedding.jpg" class="view">my beautiful wife Mindy</a>, a full stack web creative, and a father <em>in training</em>.</p>
        <p>Technology fascinates me, and pushing the envelope gives me a great amount of <strong>gusto</strong>. The drive for using fun technology is only trumped by my desire to create it. I have a particular passion for open source, and the community that surrounds it.</p>
        <p>A few other tidbits about me. I am an avid sports fan, I am a four for four Philadelphia fan (Phillies, Eagles, Sixers, Flyers). I have <a href="images/mia.png" class="view">a Lhasa Apso named Mia</a>. I am constantly reading, both technology and fantasy. I am a contributor on <a href="http://thechangelog.com/" target="_blank">The Changelog</a>. I don't like using the word <b>I</b> this much.</p>
      </div>

    </div>
  </div>
</div>
