<div class="row main-row">
  <div class="three columns hide-on-phones">
    <%= link_to image_tag("thechangelog.png"), "http://thechangelog.com", :class => "thechangelog", :target => "_blank" %>
    <div class="instagram group">
    </div>
    <div class="twitter-timeline group">
      <ul class="tweet-list hidden">
      </ul>
    </div>
  </div>
  <div class="nine columns">
    <% if posts.any? %>
      <ul id="posts-list">
        <% posts.each do |p| %>
          <%= tumblr_list_view(p) %>
        <% end %>
      </ul>
    <% else %>
      <div class="tumblr-error">
        <h1 class="heading-font">Oops! Something exploded.</h1>
        <p>There was a problem loading my Tumblr Blog. You can feel free to <%= link_to "go directly to the blog", "http://andrewpthorp.tumblr.com" %>, if you're feeling adventurous.</p>
        <p>We're on the phone to fix it now.</p>
        <%= image_tag "buck.gif" %>
      </div>
    <% end %>
  </div>
</div>

