.row
  .centered
    %p.align-center
      Hi, my name is
      = link_to "Andrew Thorp.", "/about"
      I am a Christ Follower, husband, father,
      = link_to "developer,", "http://www.github.com/andrewpthorp"
      and sports fanatic.
