input[type="text"], input[type="passwprd"], textarea
  color: $gray
  padding: 15px
  border: 0px none
  &:focus
    background: #efefef
    border: 0px none
    outline: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

textarea
  height: 215px

