input[type="text"], input[type="passwprd"], textarea
  color: $gray
  padding: 20px 15px
  border: 1px solid $light_gray
  &:focus
    background: #efefef
    outline: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none

textarea
  height: 215px

