@-webkit-keyframes shakeHead
  0%
    @include transform(rotate(0deg))
  33%
    @include transform(rotate(15deg))
  66%
    @include transform(rotate(-5deg))
  100%
    @include transform(rotate(0deg))

@-moz-keyframes shakeHead
  0%
    @include transform(rotate(0deg))
  33%
    @include transform(rotate(15deg))
  66%
    @include transform(rotate(-5deg))
  100%
    @include transform(rotate(0deg))

@keyframes shakeHead
  0%
    @include transform(rotate(0deg))
  33%
    @include transform(rotate(15deg))
  66%
    @include transform(rotate(-5deg))
  100%
    @include transform(rotate(0deg))

@mixin masthead-colors($bg)
  background: $bg
  border-bottom: 3px solid darken($bg, 25%)
  h1
    color: darken($bg, 35%)

.about #masthead
  @include masthead-colors($mainColor)
.portfolio #masthead
  @include masthead-colors($projectsColor)
.blog #masthead
  @include masthead-colors($blogColor)
.resume #masthead
  @include masthead-colors($resumeColor)

#masthead
  @include masthead-colors($green)
  @include transition(all 0.25s ease-in-out)
  padding-top: 15px

  &.about
    @include masthead-colors($mainColor)
  &.portfolio
    @include masthead-colors($projectsColor)
  &.blog
    @include masthead-colors($blogColor)
  &.resume
    @include masthead-colors($resumeColor)

  ul, ul li
    margin-bottom: 0px

  img
    float: left
    width: 160px

    &:hover
      @include animation(shakeHead 0.5s ease-in-out)

  // Main Nav
  ul li
    display: inline-block
    margin-left: 10px
    float: right
    @include transition(all 0.1s linear)

    a
      text-decoration: none
      display: inline-block
      padding: 10px
      background: rgba(100, 100, 100, 0.5)
      border-bottom: 1px solid rgba(0, 0, 0, 0.5)
      font-size: 18px
      color: #fff
      @include transition(all 0.25s ease-in-out)
      border-radius: 2px

      &:hover
        background: rgba(25, 25, 25, 0.5)

    &.current a
      background: #efefe4
      color: #222
      border-bottom: 1px solid rgba(0, 0, 0, 0.8)

    &:last-child
      margin: 0px

    &:hover
      position: relative
      bottom: 5px

  // Tagline (A Created Man)
  h1
    @include transition(all 0.25s ease-in-out)
    @extend .league_gothic
    font-size: 110px
    font-size: 11.0rem
    line-height: 1.2em
    color: rgba(0, 0, 0, 0.5)
    text-align: right
    text-transform: uppercase
    margin-bottom: -7px

#site-footer
  border-top: 1px solid #444
  border-top: 1px solid rgba(0, 0, 0, 0.25)
  padding: 20px

  p, ul
    margin: 0px

  p
    text-align: right

  ul li
    float: left
    margin-right: 15px
    margin-bottom: 0px

    &:last-child
      margin: 0px
