#posts-list > li
  padding-bottom: 5px
  margin-bottom: 18px
  border-bottom: 1px solid #aaa
  font-size: 15px
  font-size: 1.5rem

  span
    float: right
    font-style: italic
    color: #aaa

    &.caption
      display: block
      @include box-sizing(border-box)
      float: right
      max-width: 60%
      margin-left: 2%
      margin-bottom: 10px
      padding: 10px
      background: lighten($blogColor, 15%)
      color: darken($blogColor, 35%)

      p
        margin: 0px

      a, a:hover, a:visited, a:active
        color: darken($blogColor, 35%)

  a.title
    text-decoration: none
    padding: 5px
    color: darken($blogColor, 25%)

    &:hover
      background: lighten($blogColor, 15%)

  img
    max-width: 35%
    float: left
    margin-bottom: 10px
