.posts, .post
  h1
    font-size: 34px
    font-size: 3.4rem
    margin-bottom: 14px
    &.title
      border-bottom: 1px solid $light_gray
      padding-bottom: 20px
      margin-bottom: 14px
      color: $gray
      a
        text-decoration: none
        color: $light_gray
  h2
    font-size: 28px
    font-size: 2.4rem
    margin-bottom: 14px
  h3
    font-size: 22px
    font-size: 2.2rem
    margin-bottom: 14px
  footer.padded-footer
    padding-top: 24px
  article
    p
      margin-bottom: 14px
    ul
      list-style-type: disc
      list-style-position: inside
      li
        margin-bottom: 14px
        font-size: 17px
        font-size: 1.7rem
    ol
      margin-left: 0px
      list-style-position: inside
      li
        margin-bottom: 14px
        font-size: 17px
        font-size: 1.7rem
    em
      background: $light_green
      font-style: normal
      padding-left: 5px
      padding-right: 5px
    a
      font-weight: normal
      text-decoration: underline
      &:hover
        color: $green
  ul#admin, ul#tag-list
    li
      display: inline-block
      a
        font-size: 15px
        font-size: 1.5rem
        text-transform: uppercase
        padding: 5px 8px
        background: $off_white
        color: $light_gray
        &:hover
          background: $light_gray
          color: #fff
          text-decoration: none
        &.current
          background: $light_gray
          color: #fff
  ul#tag-list
    li
      margin-bottom: 0px
      a
        margin-bottom: 3px
        &::before
          padding-right: 5px
          font-size: 13px
          font-size: 1.3rem
  footer
    span.tag
      display: inline-block
      font-weight: normal
      &:first-child
        margin-left: 20px
      a
        color: $light_gray
        font-weight: normal
        &:hover
          color: $black
        &::before
          padding-right: 5px
          font-size: 10px
          font-size: 1.0rem
.posts
  ul#post-list
    li
      font-size: 17px
      font-size: 1.7rem
      line-height: 1.4
      display: block
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      a
        font-weight: normal
