.posts, .post
  h1
    font-size: 34px
    font-size: 3.4rem
    border-bottom: 1px solid $light_gray
    padding-bottom: 20px
    color: $gray
    a
      color: $light_gray
  p
    span.date
      display: inline-block
      font-weight: bold
      color: darken($gray, 5%)
      margin-right: 15px
      font-style: italic
      text-transform: uppercase

.posts
  ul
    li
      font-size: 17px
      font-size: 1.7rem
      line-height: 1.4
      display: block
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      a
        font-weight: normal
