.project
  margin: 50px auto 60px

  .image
    float: left

  .description
    float: right

    h2
      font-size: 45px
      font-size: 4.5rem
      margin-bottom: 15px

.project-separator
  display: block
  height: 5px
  background: $projectsColor
