/*
 *  All of my 'utility' css will go here.
 *  Functions, clears, etc.
 */

.group:before, .group:after
  content: "\0020"
  display: block
  height: 0
  visibility: hidden

.group:after
  clear: both

.group
  zoom: 1

.float-left
  float: left
.float-right
  float: right

/*
 *  Font Stuff
 */
.icomoon
  +icomoon

.normal-size
  font-size: 17px
  font-size: 1.7rem
.medium
  font-size: 14px
  font-size: 1.4rem
.small
  font-size: 11px
  font-size: 1.1rem
.mute
  color: #777
  a
    color: #777
  .dark
    color: #444
.dark
  color: #222
.bold
  font-weight: bold
.uppercase
  text-transform: uppercase

.no-underline
  text-decoration: none
  &:hover
    text-decoration: none

.color-green
  color: $green
a.color-green:hover
  color: darken($green, 15%)
.color-light-green
  color: $light_green
a.color-light-green:hover
  color: darken($light_green, 15%)
.color-red
  color: $red
a.color-red:hover
  color: darken($red, 15%)

/*
 *  Borders
 */
.dark-border-bottom
  border-bottom: 1px solid $gray
.light-border-bottom
  border-bottom: 1px solid $light_gray
.dark-border-top
  border-top: 1px solid $gray
.light-border-top
  border-top: 1px solid $light_gray

/*
 *  Display
 */
.make-block
  display: block
.make-inline
  display: inline
.make-inline-block
  display: inline-block

.width-25
  width: 25%
.width-49
  width: 49%
.width-50
  width: 50%
.width-75
  width: 75%

/*
 *  Text alignment
 */
.align-left
  text-align: left
.align-center
  text-align: center
.align-right
  text-align: right

/*
 *  Gutters
 */
.gutter-top
  margin-top: 20px
.gutter-top-three-quarter
  margin-top: 15px
.gutter-top-half
  margin-top: 10px
.gutter-top-quarter
  margin-top: 5px
.gutter-top-none
  margin-top: 0px
.gutter-top-double
  margin-top: 40px
.gutter-top-negative
  margin-top: -20px !important

.gutter-right
  margin-right: 20px
.gutter-right-three-quarter
  margin-right: 15px
.gutter-right-half
  margin-right: 10px
.gutter-right-quarter
  margin-right: 5px
.gutter-right-none
  margin-right: 0px
.gutter-right-double
  margin-right: 40px
.gutter-right-negative
  margin-right: -20px !important

.gutter-bottom
  margin-bottom: 20px
.gutter-bottom-three-quarter
  margin-bottom: 15px
.gutter-bottom-half
  margin-bottom: 10px
.gutter-bottom-quarter
  margin-bottom: 5px
.gutter-bottom-none
  margin-bottom: 0px !important
.gutter-bottom-double
  margin-bottom: 40px
.gutter-bottom-negative
  margin-bottom: -20px !important

.gutter-left
  margin-left: 20px
.gutter-left-three-quarter
  margin-left: 15px
.gutter-left-half
  margin-left: 10px
.gutter-left-quarter
  margin-left: 5px
.gutter-left-none
  margin-left: 0px
.gutter-left-double
  margin-left: 40px
.gutter-left-negative
  margin-left: -20px !important

/*
 * Boxes
 */
.padded-box
  +box-sizing(border-box)
  padding: 15px
.gray-box
  background: $off_white

/*
 * Keyframes Mixin
 */
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
