// Global Variables
$green: #DDFFDE
$gray: #444
$light_gray: #999

$twitter_blue: #2EB8E7
$github_blue: #286DA3
$facebook_blue: #5574AD

// Imports
@import "bourbon/bourbon"
@import "mixins"
@import "utils"
@import "forms"
@import "coderay"
@import "navigation"
@import "posts"

html, body
  height: 100%

body
  background: #fff
  font-family: 'Bitter', 'Georgia', serif
  color: #444
  a
    color: #444
    font-weight: bold
    &:hover
      color: #222
      text-decoration: underline
  p
    font-size: 17px
    font-size: 1.7rem
    line-height: 1.6

  #main
    +box-sizing(border-box)
    padding-top: 75px
    min-height: 100%
    height: auto !important
    height: 100%
    margin-bottom: -55px

    .footer_block
      height: 80px

  #global-footer
    p
      span.icomoon
        position: relative
        top: 1px
        font-size: 13px
        font-size: 1.3rem

@media only screen and (max-width: 767px)
  body
    #main
      padding-top: 25px

    .robot-logo
      max-width: 280px
