%footer#global-footer
  .row
    .large-9.large-centered.columns
      .hide-for-small
        %p.mute.small.text-center
          Copyright &copy; 2013 Andrew Thorp.
          %span.icomoon &#xe049;
          Inspired by
          = link_to "http://wynn.fm.", "http://wynn.fm", target: "_blank"
          %span.icomoon &#xe049;
          Robot by
          = link_to "Bryce Hewett", "http://brycehewett.com/", target: "_blank"
          %span.icomoon &#xe049;
          = link_to "IcoMoon", "http://icomoon.io", target: "_blank"
          &mdash;
          = link_to "Entypo", "http://www.entypo.com/", target: "_blank"
      .hide-for-medium-up
        %p.mute.small.text-center
          Copyright &copy; 2013 Andrew Thorp.
