/*  All of my 'utility' css will go here.
 *  Functions, clears, etc.
 */
.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.icomoon {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/*  Display
 */
.make-block {
  display: block; }

.make-inline {
  display: inline; }

.make-inline-block {
  display: inline-block; }

/*  Text alignment
 */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/*  Gutters
 */
.gutter-top {
  margin-top: 20px; }

.gutter-top-three-quarter {
  margin-top: 15px; }

.gutter-top-half {
  margin-top: 10px; }

.gutter-top-quarter {
  margin-top: 5px; }

.gutter-top-none {
  margin-top: 0px; }

.gutter-top-double {
  margin-top: 40px; }

.gutter-right {
  margin-right: 20px; }

.gutter-right-three-quarter {
  margin-right: 15px; }

.gutter-right-half {
  margin-right: 10px; }

.gutter-right-quarter {
  margin-right: 5px; }

.gutter-right-none {
  margin-right: 0px; }

.gutter-right-double {
  margin-right: 40px; }

.gutter-bottom {
  margin-bottom: 20px; }

.gutter-bottom-three-quarter {
  margin-bottom: 15px; }

.gutter-bottom-half {
  margin-bottom: 10px; }

.gutter-bottom-quarter {
  margin-bottom: 5px; }

.gutter-bottom-none {
  margin-bottom: 0px; }

.gutter-bottom-double {
  margin-bottom: 40px; }

.gutter-left {
  margin-left: 20px; }

.gutter-left-three-quarter {
  margin-left: 15px; }

.gutter-left-half {
  margin-left: 10px; }

.gutter-left-quarter {
  margin-left: 5px; }

.gutter-left-none {
  margin-left: 0px; }

.gutter-left-double {
  margin-left: 40px; }

input[type="text"], input[type="passwprd"], textarea {
  color: #444444;
  padding: 15px;
  border: 0px none; }
  input[type="text"]:focus, input[type="passwprd"]:focus, textarea:focus {
    background: #efefef;
    border: 0px none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

textarea {
  height: 215px; }

.CodeRay {
  margin: 0px 0px 18px;
  display: block;
  background: #050f23;
  border: 1px solid #121212;
  font-size: 13px;
  font-size: 1.3rem; }
  .CodeRay .code {
    color: white; }
    .CodeRay .code .class, .CodeRay .code .constant {
      font-weight: bold; }
    .CodeRay .code .keyword, .CodeRay .code .type {
      font-weight: bold;
      color: #b6db51; }
    .CodeRay .code .global-variable {
      color: #9cc371; }
    .CodeRay .code .symbol, .CodeRay .code .key, .CodeRay .code .instance-variable {
      color: #a8bfd6; }
    .CodeRay .code .regexp, .CodeRay .code .string {
      color: #b4c2d6; }
      .CodeRay .code .regexp .delimiter, .CodeRay .code .string .delimiter {
        color: #b4c2d6; }
    .CodeRay .code .comment {
      font-style: italic;
      color: #5d5d5d; }
    .CodeRay .code pre {
      overflow: auto;
      padding: 15px; }
      .CodeRay .code pre::-webkit-scrollbar {
        height: 12px; }
      .CodeRay .code pre::-webkit-scrollbar-track-piece {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 1px inset;
        background: rgba(0, 0, 0, 0.2); }
      .CodeRay .code pre::-webkit-scrollbar-thumb {
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) black;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 0 1px inset;
        -webkit-background-clip: padding-box; }

#site-nav {
  position: absolute;
  right: 0px;
  top: 25px;
  background: #eeeeee;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #site-nav a {
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.6;
    color: #444444; }

@media only screen and (max-width: 767px) {
  #site-nav {
    position: relative;
    top: 0px;
    text-align: center; }
    #site-nav li {
      display: inline-block;
      margin-right: 25px;
      margin-bottom: 0px; }
      #site-nav li:last-child {
        margin-right: 0px; } }
#social-nav li {
  display: inline; }
  #social-nav li a {
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    font-size: 4.5rem;
    margin-right: 35px; }
    #social-nav li a:hover {
      text-decoration: none; }
    #social-nav li a.twitter:hover {
      color: #2eb8e7; }
    #social-nav li a.facebook:hover {
      color: #5574ad; }
    #social-nav li a.github:hover {
      color: #286da3; }
  #social-nav li:last-child a {
    margin-right: 0px; }

.posts h1.title, .post h1.title {
  font-size: 34px;
  font-size: 3.4rem;
  border-bottom: 1px solid #999999;
  padding-bottom: 20px;
  color: #444444; }
  .posts h1.title a, .post h1.title a {
    color: #999999; }
.posts p span.date, .post p span.date {
  display: inline-block;
  font-weight: bold;
  color: #373737;
  margin-right: 15px;
  font-style: italic;
  text-transform: uppercase; }

.posts ul li {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.4;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .posts ul li a {
    font-weight: normal; }

html, body {
  height: 100%; }

body {
  background: white;
  font-family: "Bitter", "Georgia", serif;
  color: #444444; }
  body a {
    color: #444444;
    font-weight: bold; }
    body a:hover {
      color: #222222;
      text-decoration: underline; }
    body a.no-underline:hover {
      text-decoration: none; }
  body p {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.6; }
    body p.small {
      font-size: 11px;
      font-size: 1.1rem; }
    body p.mute {
      color: #777777; }
      body p.mute a {
        color: #777777; }
      body p.mute .dark {
        color: #444444; }
    body p.dark {
      color: #222222; }
  body #main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 75px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -55px; }
    body #main .footer_block {
      height: 80px; }
  body #global-footer p span.icomoon {
    position: relative;
    top: 1px;
    font-size: 13px;
    font-size: 1.3rem; }

@media only screen and (max-width: 767px) {
  body #main {
    padding-top: 25px; }
  body .robot-logo {
    max-width: 280px; } }
