/*  All of my 'utility' css will go here.
 *  Functions, clears, etc.
 */
.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/*  Display
 */
.make-block {
  display: block; }

.make-inline {
  display: inline; }

.make-inline-block {
  display: inline-block; }

/*  Text alignment
 */
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/*  Gutters
 */
.gutter-top {
  margin-top: 20px; }

.gutter-top-three-quarter {
  margin-top: 15px; }

.gutter-top-half {
  margin-top: 10px; }

.gutter-top-quarter {
  margin-top: 5px; }

.gutter-top-none {
  margin-top: 0px; }

.gutter-top-double {
  margin-top: 40px; }

.gutter-right {
  margin-right: 20px; }

.gutter-right-three-quarter {
  margin-right: 15px; }

.gutter-right-half {
  margin-right: 10px; }

.gutter-right-quarter {
  margin-right: 5px; }

.gutter-right-none {
  margin-right: 0px; }

.gutter-right-double {
  margin-right: 40px; }

.gutter-bottom {
  margin-bottom: 20px; }

.gutter-bottom-three-quarter {
  margin-bottom: 15px; }

.gutter-bottom-half {
  margin-bottom: 10px; }

.gutter-bottom-quarter {
  margin-bottom: 5px; }

.gutter-bottom-none {
  margin-bottom: 0px; }

.gutter-bottom-double {
  margin-bottom: 40px; }

.gutter-left {
  margin-left: 20px; }

.gutter-left-three-quarter {
  margin-left: 15px; }

.gutter-left-half {
  margin-left: 10px; }

.gutter-left-quarter {
  margin-left: 5px; }

.gutter-left-none {
  margin-left: 0px; }

.gutter-left-double {
  margin-left: 40px; }

.CodeRay {
  margin: 0px 0px 18px;
  display: block;
  background: #050f23;
  border: 1px solid #121212;
  font-size: 13px;
  font-size: 1.3rem; }
  .CodeRay .code {
    color: white; }
    .CodeRay .code .class, .CodeRay .code .constant {
      font-weight: bold; }
    .CodeRay .code .keyword, .CodeRay .code .type {
      font-weight: bold;
      color: #b6db51; }
    .CodeRay .code .global-variable {
      color: #9cc371; }
    .CodeRay .code .symbol, .CodeRay .code .key, .CodeRay .code .instance-variable {
      color: #a8bfd6; }
    .CodeRay .code .regexp, .CodeRay .code .string {
      color: #b4c2d6; }
      .CodeRay .code .regexp .delimiter, .CodeRay .code .string .delimiter {
        color: #b4c2d6; }
    .CodeRay .code .comment {
      font-style: italic;
      color: #5d5d5d; }
    .CodeRay .code pre {
      overflow: auto;
      padding: 15px; }
      .CodeRay .code pre::-webkit-scrollbar {
        height: 12px; }
      .CodeRay .code pre::-webkit-scrollbar-track-piece {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 1px inset;
        background: rgba(0, 0, 0, 0.2); }
      .CodeRay .code pre::-webkit-scrollbar-thumb {
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)) black;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 0 1px inset;
        -webkit-background-clip: padding-box; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("/fonts/icomoon.woff") format("woff"), url("/fonts/icomoon.ttf") format("truetype"), url("/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon-google-plus:before, .icon-google:before, .icon-facebook:before, .icon-facebook-2:before, .icon-facebook-3:before, .icon-twitter:before, .icon-twitter-2:before, .icon-twitter-3:before, .icon-vimeo2:before, .icon-vimeo:before, .icon-vimeo-2:before, .icon-google-plus-2:before, .icon-google-plus-3:before, .icon-google-plus-4:before, .icon-google-drive:before, .icon-instagram:before, .icon-mail:before, .icon-mail-2:before, .icon-mail-3:before, .icon-mail-4:before, .icon-feed:before, .icon-feed-2:before, .icon-feed-3:before, .icon-youtube:before, .icon-youtube-2:before, .icon-lanyrd:before, .icon-flickr:before, .icon-flickr-2:before, .icon-flickr-3:before, .icon-flickr-4:before, .icon-picassa:before, .icon-picassa-2:before, .icon-dribbble:before, .icon-dribbble-2:before, .icon-dribbble-3:before, .icon-forrst:before, .icon-forrst-2:before, .icon-deviantart:before, .icon-deviantart-2:before, .icon-steam:before, .icon-github:before, .icon-github-2:before, .icon-steam-2:before, .icon-github-3:before, .icon-github-4:before, .icon-github-5:before, .icon-wordpress:before, .icon-tumblr:before, .icon-tumblr-2:before, .icon-apple:before, .icon-tux:before, .icon-yahoo:before, .icon-finder:before, .icon-android:before, .icon-windows:before, .icon-pinterest:before, .icon-pinterest-2:before, .icon-linkedin:before, .icon-reddit:before, .icon-skype:before, .icon-soundcloud:before, .icon-soundcloud-2:before, .icon-windows8:before, .icon-lastfm:before, .icon-lastfm-2:before, .icon-wordpress-2:before, .icon-blogger:before, .icon-joomla:before, .icon-blogger-2:before, .icon-stackoverflow:before, .icon-stumbleupon:before, .icon-stumbleupon-2:before, .icon-delicious:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-google-plus:before {
  content: "\e000"; }

.icon-google:before {
  content: "\e001"; }

.icon-facebook:before {
  content: "\e002"; }

.icon-facebook-2:before {
  content: "\e003"; }

.icon-facebook-3:before {
  content: "\e004"; }

.icon-twitter:before {
  content: "\e005"; }

.icon-twitter-2:before {
  content: "\e006"; }

.icon-twitter-3:before {
  content: "\e007"; }

.icon-vimeo2:before {
  content: "\e008"; }

.icon-vimeo:before {
  content: "\e009"; }

.icon-vimeo-2:before {
  content: "\e00a"; }

.icon-google-plus-2:before {
  content: "\e00b"; }

.icon-google-plus-3:before {
  content: "\e00c"; }

.icon-google-plus-4:before {
  content: "\e00d"; }

.icon-google-drive:before {
  content: "\e00e"; }

.icon-instagram:before {
  content: "\e00f"; }

.icon-mail:before {
  content: "\e010"; }

.icon-mail-2:before {
  content: "\e011"; }

.icon-mail-3:before {
  content: "\e012"; }

.icon-mail-4:before {
  content: "\e013"; }

.icon-feed:before {
  content: "\e014"; }

.icon-feed-2:before {
  content: "\e015"; }

.icon-feed-3:before {
  content: "\e016"; }

.icon-youtube:before {
  content: "\e017"; }

.icon-youtube-2:before {
  content: "\e018"; }

.icon-lanyrd:before {
  content: "\e019"; }

.icon-flickr:before {
  content: "\e01a"; }

.icon-flickr-2:before {
  content: "\e01b"; }

.icon-flickr-3:before {
  content: "\e01c"; }

.icon-flickr-4:before {
  content: "\e01d"; }

.icon-picassa:before {
  content: "\e01e"; }

.icon-picassa-2:before {
  content: "\e01f"; }

.icon-dribbble:before {
  content: "\e020"; }

.icon-dribbble-2:before {
  content: "\e021"; }

.icon-dribbble-3:before {
  content: "\e022"; }

.icon-forrst:before {
  content: "\e023"; }

.icon-forrst-2:before {
  content: "\e024"; }

.icon-deviantart:before {
  content: "\e025"; }

.icon-deviantart-2:before {
  content: "\e026"; }

.icon-steam:before {
  content: "\e027"; }

.icon-github:before {
  content: "\e028"; }

.icon-github-2:before {
  content: "\e029"; }

.icon-steam-2:before {
  content: "\e02a"; }

.icon-github-3:before {
  content: "\e02b"; }

.icon-github-4:before {
  content: "\e02c"; }

.icon-github-5:before {
  content: "\e02d"; }

.icon-wordpress:before {
  content: "\e02e"; }

.icon-tumblr:before {
  content: "\e02f"; }

.icon-tumblr-2:before {
  content: "\e030"; }

.icon-apple:before {
  content: "\e031"; }

.icon-tux:before {
  content: "\e032"; }

.icon-yahoo:before {
  content: "\e033"; }

.icon-finder:before {
  content: "\e034"; }

.icon-android:before {
  content: "\e035"; }

.icon-windows:before {
  content: "\e036"; }

.icon-pinterest:before {
  content: "\e037"; }

.icon-pinterest-2:before {
  content: "\e038"; }

.icon-linkedin:before {
  content: "\e039"; }

.icon-reddit:before {
  content: "\e03a"; }

.icon-skype:before {
  content: "\e03b"; }

.icon-soundcloud:before {
  content: "\e03c"; }

.icon-soundcloud-2:before {
  content: "\e03d"; }

.icon-windows8:before {
  content: "\e03e"; }

.icon-lastfm:before {
  content: "\e03f"; }

.icon-lastfm-2:before {
  content: "\e040"; }

.icon-wordpress-2:before {
  content: "\e041"; }

.icon-blogger:before {
  content: "\e042"; }

.icon-joomla:before {
  content: "\e043"; }

.icon-blogger-2:before {
  content: "\e044"; }

.icon-stackoverflow:before {
  content: "\e045"; }

.icon-stumbleupon:before {
  content: "\e046"; }

.icon-stumbleupon-2:before {
  content: "\e047"; }

.icon-delicious:before {
  content: "\e048"; }

#social-nav li {
  display: inline; }
  #social-nav li a {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 45px;
    font-size: 4.5rem;
    margin-right: 35px; }
    #social-nav li a:hover {
      text-decoration: none; }
    #social-nav li a.twitter:hover {
      color: #2eb8e7; }
    #social-nav li a.facebook:hover {
      color: #5574ad; }
    #social-nav li a.github:hover {
      color: #286da3; }
  #social-nav li:last-child a {
    margin-right: 0px; }

.posts h1, .post h1 {
  font-size: 34px;
  font-size: 3.4rem;
  border-bottom: 1px solid #999999;
  padding-bottom: 10px; }
  .posts h1 span, .post h1 span {
    color: #999999;
    display: block;
    font-size: 18px;
    font-size: 1.8rem; }

.posts ul li {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

html, body {
  height: 100%; }

body {
  background: white;
  font-family: "Bitter", "Georgia", serif;
  color: #444444; }
  body a {
    color: #444444;
    font-weight: bold; }
    body a:hover {
      color: #222222;
      text-decoration: underline; }
    body a.no-underline:hover {
      text-decoration: none; }
  body p {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 1.6; }
    body p.small {
      font-size: 11px;
      font-size: 1.1rem; }
    body p.mute {
      color: #777777; }
      body p.mute a {
        color: #777777; }
      body p.mute .dark {
        color: #444444; }
    body p.dark {
      color: #222222; }
  body #main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 100px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -55px; }
    body #main .footer_block {
      height: 80px; }
