.row
  .nine.columns.centered
    %form{name: "login", id: "login", action: "sessions/create", method: "post"}
      %label{for: "password"}
        %h3.align-center.gutter-bottom-double
          Be a gentleman, use a password.
      %input{id: "password", type: "password", name: "password", class: "input_full"}

%script{:type => "text/javascript", :src  => "/javascripts/login.js"}
