.row
  .large-8.large-centered.columns
    %header
      %h3 Edit Post

.row
  .large-8.large-centered.columns
    %section
      = partial :'posts/form', locals: { post: @post, url: "/posts/#{@post.slug}", method: 'put' }
