.row
  .nine.columns.centered
    .posts
      %h1.gutter-bottom
        = link_to "&#xe04a;", "/", class: "no-underline icomoon"
        The Enquirer

      %ul
        - @posts.each do |p|
          %li
            = link_to p.title, "blog/#{p.slug}"
