.row
  .nine.columns.centered
    .post.show
      %h1.gutter-bottom.title
        = link_to "&#xe04a;", "/blog", class: "no-underline icomoon"
        New Post

      - form_for(@post, "/blog", method: "post") do |f|
        %p
          = f.text_field :title, class: "input_full", placeholder: "Title"

        %p
          = f.text_area :body, class: "input_full", placeholder: "Body"

        %p
          = f.submit "Save"

