.row
  .nine.columns.centered
    .post.show
      %h1.gutter-bottom-double
        = link_to "&larr;", "/blog", class: "no-underline"
        = @post.title
        %span.date.align-right.gutter-top-half= @post.created_at.to_s(:pretty)

      %p
        = @post.body
