ul, ol
  list-style-type: none
  margin-left: 0px
  &.inline-list
    li
      display: inline-block

a
  font-weight: bold
  &:hover
    text-decoration: underline

.tag
  a
    &:before
      position: relative
      top: 1px
      margin-right: 2px
    &:hover
      text-decoration: none
      color: $color_gray
      &:before
        color: $color_gray

.emoji, .emoji img
  max-height: 22px
  position: relative
  top: -3px

h1, h2, h3, h4, h5, h6
  .emoji, .emoji img
    max-height: 30px

section
  background: $color_off_white
  border: 5px solid $color_light_gray
  border-radius: 8px
  padding: 25px
  footer
    margin: 25px -25px -25px
    background: $color_light_gray
    padding: 25px 25px 0px

header
  h1, h2, h3, h4, h5, h6
    padding-left: 30px
