#site-nav
  background: $color_gray
  height: 100%
  left: 0px
  position: fixed
  padding: 15px 0px
  top: 0px
  li
    margin-bottom: 0px
    a
      +transition(all 0.15s ease-in-out)
      border-right: 10px solid transparent
      color: $color_white
      display: block
      font-size: emCalc(24)
      padding: 5px 10px 5px 23px
      position: relative
      text-shadow: 0px 1px 0px $color_black
      &:hover
        background: lighten($color_gray, 10%)
        border-color: $color_green
        text-decoration: none
        margin-right: -10px
      &:active
        left: 1px
        top: 1px
      span
        +transition(all 0.25s ease-in-out)
        display: inline-block
        visibility: hidden
        font-size: 13px
        overflow: hidden
        position: relative
        text-overflow: hidden
        top: -5px
        white-space: nowrap
        width: 0px
  &:hover
    li
      a
        span
          margin-left: 10px
          visibility: visible
          width: 75px

#social-nav
  margin-bottom: 35px
  text-align: center
  li
    display: inline-block
    margin-right: $column-gutter
    a
      +icomoon
      color: $color_gray
      font-size: emCalc(45)
      &:hover
        text-decoration: none
      &.facebook:hover
        color: $color_facebook
      &.twitter:hover
        color: $color_twitter
      &.github:hover
        color: $color_github
    &:last-child
      margin-right: 0px

@media only screen and (max-width: 768px)
  #site-nav
    height: auto
    left: 0px
    position: absolute
    text-align: center
    top: 0px
    width: 100%
    z-index: 100
    li
      display: inline-block
      margin-right: 10px
      margin-bottom: 0px
      a
        border: 0px none
        border-radius: 5px
        margin: 0px
        padding: 5px 8px
        &:hover
          margin: 0px
        span
          display: none
      &:last-child
        margin-right: 0px
    &:hover
      li
        a
          span
            display: none
