.row
  .large-8.large-centered.columns
    #masthead
      = image_tag 'headshot-full-width.png'
    %p
      I grew up in Northern Virginia and now call Nashville home. I have been
      working on the web for over 10 years now, and really enjoy keeping up with
      = link_to 'open source technologies.', 'http://www.thechangelog.com', target: '_blank'
      My preferred stack is Ruby (Rails/Sinatra), CoffeeScript and Sass, though
      I have dabbled in Python, Node, Obj-C, Go, and many other languages. I
      believe in the
      = link_to 'Oxford comma.', 'http://en.wikipedia.org/wiki/Serial_comma', target: '_blank'
    %p
      I have a beautiful wife (whom I don't deserve). We celebrated the birth of our first son
      on August 24, 2012. When I am not working, I can be found reading, enjoying a coffee, or
      watching/listening to sports (Phillies, Eagles, Sixers, Flyers).

